.ComplaintsTableContent {
  display: block;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;

  td, th {
    border-bottom: 1px solid black;
    width: 0.5%;
    text-align: left;
  }
}
